.jumbotron {
  padding-top: 4rem;
  background-color: grey;
}
#about {
  background: rgb(51, 50, 50);
}
#contact {
  background: rgb(51, 50, 50);
}

#galery {
  background-color: grey;
}
.footer {
  background: grey;
}
section {
  padding-top: 5rem;
}
